*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "image sidebar"
    "slider sidebar"
    ;
    height: 95vh;
    width: 100vw;
}

nav{
    height: 40px;
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
}

.main-image{
    grid-area: image;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image{
    width: 400px;
    height: auto;
}

.slider-container{
    grid-area: slider;
    margin-top: 2rem;
    padding: 2rem;
    display: grid;
    place-items: center;
}

.sidebar-container{
    background-color: burlywood;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-left: 2px solid rgb(85, 57, 21);
    border-top: 2px solid rgb(85, 57, 21);
}

.item{
    outline: 0;
    border: 0;
    width: 7rem;
    padding: 10px;
    background-color: burlywood;
}

.item:hover{
    background-color: rgb(197, 139, 63);
}

.item.active{
    background-color: rgb(197, 115, 8);
}

.upload-btn{
    display: inline-block;
    background-color: #f79d53; 
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-right: 10px;
}

.upload-btn:hover {
    background-color: rgb(197, 139, 63);
}

.upload-btn input{
    display: none;
}

.download-btn{
    display: inline-block;
    background-color: #f79d53;
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease;
    font-family: 'Arial', sans-serif;
}

.download-btn:hover {
    background-color: rgb(197, 139, 63);
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "image"
            "slider"
            "sidebar";
        height: 100vh;
    }

    .upload-btn, .download-btn{
        padding: 5px 7px;
    }

    .btns{
        display: flex;
    }

    .image {
        width: 100%;
        height: auto;
    }

    .slider-container {
        margin-top: 1rem;
        padding: 1rem;
    }

    .sidebar-container {
        border: none;
        border-top: 2px solid rgb(85, 57, 21);
    }

    .item {
        width: 100%;
    }

    .upload-btn, .download-btn {
        width: 100%;
        margin-bottom: 10px;
    }
}